body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.app {
    margin: 100px auto;
    width: 1100px;
    min-height: 2000px;
    padding: 30px;
    border: 1px solid #ccc;
}

.branch-block {
    margin: 50px 30px;
}

.items {
    padding: 20px 40px;
}

.item-wrap {
    padding: 20px;
    width: 230px;
    background-color: #fff7e6;
    border-radius: 2px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
}

.item-wrap input {
    border: none;
    padding: 0;
    background: 0;
    font-size: 16px;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    color: #999;
}

.toggle-visible {
    cursor: pointer;
}

.add-new-item {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    display: inline-block;
}